= form_for [ticket, ticket.item_tickets.new], html: { class: "form ui"} do |f|
  .ui.grid
    .three.wide.column
      %input{type: "text", name: "code_number", placeholder: "Codigo", focus: true}
    .eight.wide.column
      .ui.fluid.search.selection.dropdown.combo
        = f.hidden_field :item_id
        %i.dropdown.icon
        .default.text Seleccione Item
        .menu
          - Item.all.each do |item|
            .item{ data: { value: item.id } }
              = item.description
    .four.wide.column
      = f.number_field :quantity, placeholder: "Cantidad", min: "1"
  .ui.divider
  .field
    %button.ui.button.orange{ type:"submit"}
      Adicionar
