= form_for [ticket, @item_ticket], html: { class: "form ui"} do |f|
  %h3.ui.header Agregar items
  .ui.grid
    .four.wide.column
      .ui.left.icon.input
        %i.icon.search
        %input{type: "text", name: "code_number", placeholder: "Cod", focus: true, autocomplete: "off"}
    .four.wide.column.field
      = f.number_field :quantity, placeholder: "Cant", min: "1"
    .eight.wide.column.field
      .ui.fluid.search.selection.dropdown.combo
        = f.hidden_field :item_id
        %i.dropdown.icon
        .default.text Seleccione Item
        .menu
          - Item.with_stock.each do |item|
            .item{ data: { value: item.id } }
              = item.description

  .ui.red.message.item-code{style: "display:none"}
    No se encontro ningun item
  .ui.red.message.stock{style: "display:none"}
    El stock no es suficiente

:javascript
  $(document).ready(function(){
    function getFieldValue(fieldId) {
      return $('.ui.form').form('get field', fieldId).val();
    }

    function submitForm(e){
      e.preventDefault();
      url  = $(".ui.form").attr("action");
      qty  = getFieldValue('item_ticket_quantity');
      max = parseInt($("#item_ticket_quantity").attr("max"));
      if(qty <= max){
        formData = { item_ticket: { quantity: qty,item_id: getFieldValue('item_ticket_item_id') } };
        $.ajax({ type: 'POST', dataType: "HTML", url: url, data: formData, success: function(){
            location.reload();
          }
        });
      } else{
        $(".stock").show();
      }
    };

    $("input[name=code_number]").on("keyup", function(){
      val = $(this).val();
      $(".stock").hide();
      if(val.length > 1){
        $.ajax({
          url: "/items?code=" + val,
          dataType: "JSON",
          method: "GET",
          success: function(res){
            if(res.id !== null){
              $(".combo.dropdown").dropdown("set selected", res.id);
              $("#item_ticket_item_id").val(res.id);
              $("#item_ticket_quantity").attr("max", res.stock);
              $(".item-code").hide();
            }else{
              $(".item-code").show();
              $("#item_ticket_quantity").removeAttr("max");
            }
          }
        })
      }
    });

    $('.ui.form').form({
      item_id: {
        identifier: 'item_ticket_item_id',
        rules: [{ type   : 'empty' }]
      },
      quantity: {
        identifier: 'item_ticket_quantity',
        rules: [{ type   : 'empty' }, { type: 'not[0]' }]
      }
    },{
      onSuccess: submitForm
    })
  })
