%h4.ui.header Adicionales
= form_for [ticket, ticket.additionals.new], html: { class: "form ui additional-form"} do |f|
  .ui.grid
    .twelve.wide.column
      = f.text_field :description, placeholder: "Agregar adicional"
    .four.wide.column
      = f.text_field :amount, placeholder: "$999.99"

:javascript
  $(document).ready(function(){
    $('.additional-form').form({
      description: {
        identifier: 'additional_description',
        rules: [{ type   : 'empty' }]
      },
      amount: {
        identifier: 'additional_amount',
        rules: [{ type   : 'empty' }, { type: 'not[0]' }]
      }
    });
  })
