= form_for [shift, shift.extractions.new], html: { class: "ui form"} do |f|
  .ui.grid
    .ten.wide.column.field
      = f.text_field :description, placeholder: "Agregar un Extraccion"
    .three.wide.column.field
      = f.number_field :amount, placeholder: "Valor $"
    .two.wide.column.field
      = f.submit "Agregar", class: "ui button blue"
