.ui.header
  %h2
    %i.icon.signal
    Estadisticas


= form_tag statistics_path, method: :get do 
  .ui.icon.left.input
    %input{name: "date", class: "datepicker", type: "text", autocomplete: "off", placeholder: "Seleccione una fecha"}
    %i.icon.circular.calendar

.ui.divider
.ui.segment
  .ui.statistic
    .value
      = @tickets.size
    .label
      Tickets

:javascript
  $(document).ready(function(){
    $('.datepicker').pickadate();
  });
