<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <i class="fa fa-play"></i>  <span class="light">Rojo Bar</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">Nosotros</a>
        </li>
        <li>
          <a class="page-scroll" href="#menu">Menu</a>
        </li>
        <li>
          <a class="page-scroll" href="#place">Donde estamos</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Imagenes</h1>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1 class="brand-heading">Rojo Bar</h1>
          <p class="intro-text">A free, responsive, one page Bootstrap theme.<br>Created by Start Bootstrap.</p>
          <a href="#menu" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down"></i>
          </a>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="menu" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start Bootstrap</h2>
            <p>
              Feel free to email us to provide some feedback on our templates,
              give us suggestions for new templates and themes, or to just say hello!
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/RojoBar" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+RojoBar/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
            <a href="#place" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down"></i>
            </a>
        </div>
    </div>
</section>

<!-- Map Section -->
<section id="place" class="container text-center">
  <h1 style="margin-top: 80px">Donde estamos</h1>
  <div id="map"></div>
</section>
