.ui.message.info
  Bar Manager 1.0

.ui.grid.statistics
  %h2 Tickets y Facturacion
  .eleven.wide.column
    .ui.segment
      .statistic.red
        .value.center
          = number_to_currency @total
        .label.center
          Total Facturado
  .five.wide.column
    .ui.segment
      .statistic
        .value
          = @tickets.size
        .label
          Tickets totales

.ui.divider

- unless @by_items.empty?
  .ui.grid.statistics
    %h2 Ventas por Item
    - @by_items.each do |key, value|
      .eight.wide.column
        .ui.segment
          .statistic
            .value
              = value
            .label
              = key
