%i.close.icon
.header
  %h2.ui.left.floated.header
    Ticket
    = "%0.6d" % @ticket.number
  %h2.ui.right.floated.header
    = l @ticket.created_at, format: "%d/%m/%Y - %H:%M %p"
  .clearfix

.content
  = form_tag fiscal_print_path, { method: :post, id: "fiscal-printer", class: "ui form" } do |f|

    %input{ type: 'hidden', name: 'ticket_id', value: @ticket.id }
    .three.fields
      .field
        %label Tipo de Factura
        .ui.search.selection.combo.dropdown.select-dropdown#ticket-type
          %i.dropdown.icon
          %input{ type: 'hidden', name: 'payment[ticket_type]', value: 'B' }
          .default.text Tipo de Factura
          .menu
            .item{ data: { value: 'A' } } Factura A
            .item{ data: { value: 'B' } } Factura B
      .field
        %label Tipo IVA
        .ui.search.selection.dropdown.select-dropdown.combo#iva-type
          %i.dropdown.icon
          %input{ type: 'hidden', name: 'payment[iva_type]', value: 'C' }
          .default.text
          .menu
            .item{ data: { value: 'I' } } Responsable inscripto
            .item{ data: { value: 'N' } } Responsable no inscripto
            .item{ data: { value: 'E' } } Exento
            .item{ data: { value: 'A' } } No Responsable
            .item{ data: { value: 'M' } } Responsable Monotributo
            .item{ data: { value: 'T' } } No categorizado
            .item{ data: { value: 'V' } } Pequeño contribuyente
            .item{ data: { value: 'S' } } Monotributista social
            .item{ data: { value: 'F' } } Consumidor final
      .field
        %label Iva
        .ui.search.selection.dropdown.select-dropdown.combo
          %i.dropdown.icon
          %input{ type: 'hidden', name: 'payment[iva]', value: '21.0' }
          .default.text IVA
          .menu
            .item{ data: { value: '10.5' } } 10.5 %
            .item{ data: { value: '21.0' } } 21 %
    .ui.divider
    .two.fields
      .field
        %label Nombre y Apellido
        %input{ type: 'text', name: 'payment[customer_name]', placeholder: 'Nombre completo'}
      .field
        %label Direccion
        %input{ type: 'text', name: 'payment[customer_address]', placeholder: 'Direccion'}
    .two.fields
      .field
        %label Tipo de Documento
        .ui.search.selection.dropdown.select-dropdown.combo
          %i.dropdown.icon
          %input{ type: 'hidden', name: 'payment[customer_doc_type]' }
          .default.text Tipo Documento
          .menu
            .item{ data: { value: 'C' } } CUIT
            .item{ data: { value: '0' } } LE
            .item{ data: { value: '1' } } LC
            .item{ data: { value: '2' } } DNI
            .item{ data: { value: '3' } } Pasaporte
            .item{ data: { value: '4' } } CE
            .item{ data: { value: '5' } } S/C
      .field
        %label Numero
        %input{ type: 'text', name: 'payment[customer_doc_nbr]'}
    .field
      = submit_tag 'Enviar', class: 'ui button orange'

:javascript
  $('.dropdown').dropdown();

  $('#ticket-type').dropdown('setting', 'onChange', function(text, value){
    if(text === 'A'){
      console.log(text);
      $('#iva-type').dropdown('set selected', 'I').addClass('disabled')
    }else
      $('#iva-type').removeClass('disabled')
  });
