= form_for @table, html: { class: "ui form" } do |f|
  - if @table.errors.any?
    .ui.message.negative
      %ul.list
        - @table.errors.full_messages.each do |msg|
          %li= msg
    .ui.divider
  .inline.fields
    .field
      = f.number_field :number, placeholder: "Numero de mesa"
    .field
      %button.ui.button.green{type: "submit"}
        Crear
    .field
      = link_to "Cancelar", @table.new_record? ? tables_path : @table, class: "ui button"
