- if @last_shift.is_open?
  .ui.message.icon.warning
    %i.icon.food
    .content
      .header
        Para comenzar debes abrir un turno
      %p
        Una vez que hayas abierto el turno podra comenzar a administrar las mesas.

        = link_to "Abrir turno", "shifts", method: :post
- else
  .ui.message.icon.warning
    %i.icon.food
    .content
      .header
        Abra cualquier mesa del menu
      %p
        Con la mesa abierta, podras administrar el ticket hasta cerrar la venta.
