%h2.ui.header
  = @table.name
.ui.divider
.center
  - if @table.current_ticket
    = link_to "Ver ticket actual", @table.current_ticket, class: "ui button"
  - else
    = link_to open_table_path(@table), method: :put,  class: "ui icon labeled green button" do
      %i.icon.unlock
      Abrir Mesa
