/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
  margin: 0;
  font-family: 'Lato'
}

.ui.menu.fixed{
  z-index: 100 !important;
}

.main{
  padding-top: 70px;
}

.container{
  width: auto;
  margin-right: 150px;
  margin-left: 150px;
}

#side{
  padding: 20px 10px;
  width:25%;
  float: left;
}

#panel{
  padding: 20px 10px;
  width: 75%;
  float: left;
}

.center{
  text-align: center;
}
.clearfix{
  clear: both;
  content: "";
  display: table;
}
