/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
  margin: 0;
  font-family: 'Lato'
}
.ui.menu.fixed{
  z-index: 100 !important;
}
.main{
  padding-top: 70px;
}
.container{
  width: auto;
  margin-right: 150px;
  margin-left: 150px;
}

#side{
  padding: 20px 0;
  width:25%;
  float: left;
}

#panel{
  padding: 20px;
  width: 70%;
  float: left;
}
a{
  text-decoration: none;
  color: #666;
}

.right{
  float: right;
}
.left{
  float: left;
}

.clearfix{
  clear: both;
  content: "";
  display: table;
}

footer{
  background: #333333;
  color: #f1f1f1;
  padding: 20px 0;
}
