/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  background: #f7f7f7;
}
body{
  margin: 0;
  font-family: 'Lato'
}

.signin{
  width: 50% !important;
  margin: auto !important;
  float: none !important;
}

.ui.menu.fixed{
  z-index: 100 !important;
}

.main{
  padding-top: 60px;
}

.container{
  width: auto;
  margin-right: 200px;
  margin-left: 100px;
}

.side{
  padding: 20px 10px;
  width:25%;
  float: left;
}

.panel{
  padding: 20px 10px;
  width: 75%;
  float: left;
}

.center{
  text-align: center;
}
.clearfix{
  clear: both;
  content: "";
  display: table;
}

.item.table{
  background: #fff !important;
  padding: 8px !important;
  border: solid 1px #ddd !important;
}
.item.table a{
  color: #666 !important;
}

.item.table.open{
  border-left-color: #5bbd72 !important;
  border-left-width: 3px !important;
}

.item.table.open a.header{
  color: #3b83c0 !important;
}

.item.table small{
  float: right;
  margin: 0.25rem 0rem 0.25rem 0em !important;
}

#toc {
  z-index: 100;
}

#open-tables {
  padding: 10px 0 0;
}

#open-tables a {
  margin-bottom: 10px;
}

#open-tables .panel,
#open-tables .side {
  padding-bottom: 0;
  padding-top: 0
}

#open-tables:after{
  content: '';
  display: table;
  clear: both;
}

.ui.left.sidebar,
.ui.right.sidebar {
  width: 200px !important;
}

.fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;
  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 0.3s width ease, 0.5s transform ease;
  -moz-transition: 0.3s width ease, 0.5s transform ease;
  -o-transition: 0.3s width ease, 0.5s transform ease;
  -ms-transition: 0.3s width ease, 0.5s transform ease;
  transition: 0.3s width ease, 0.5s transform ease;
}

i.icon.big-icon {
  font-size: 2em;
}

.ui.inverted.menu .item .menu a.item:hover,
.ui.inverted.menu .item .menu .link.item:hover {
  background-color: #3b83c0 !important;
  color: white !important;
}
