@media print {
  div.ui.menu, #open-tables, div.side, div.table-actions, div.ui.divider, div.table-form, i.icon,
  a.ui.button, div.ui.actions, .ui.popup, h1.ui.header, .ui.message, .ui.button.status,
  td.hiddable, th.hiddable {
    display: none !important;
  }

  table tr th {
    margin: 0px !important;
    padding: 3px 0px !important;
  }

  table, table tr, table tr td, table tr th, .ui.modal .ui.header, .ui.modal .content {
    padding: 10px 0px 0px 0px !important;
    border: none !important;
  }

  div.segment.ui, #modal-kitchen, .ui.page.dimmer, .ui.modal {
    float: none !important;
    display: block !important;
    width: 100% !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    box-shadow: none !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    font-size: 14px;
  }

  #ticket-number .ui.button {
    color: #000 !important;
    border: none !important;
    box-shadow: none !important;
    padding-left: 0 !important;
  }

  #additionals h4.ui.header{
    margin: 10px 0px 10px 0px !important;
    padding: 0 !important;
  }

  #additionals .ui.three.cards {
    margin: 0 !important;
    padding: 0 !important;
  }

  #additionals div.card, div.card .content{
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
    float: none !important;
    width: 30% !important;
    padding: 0px !important;
  }

  #ticket-total.ui.button{
    font-size: 18px;
    margin: 20px 0;
    padding: 8px;
    background: #fff !important;
    opacity: 1 !important;
    border: solid 1px #ccc !important;
  }

  #ticket-date.ui.button{
    font-size: 15px;
    margin: 30px 0px 0px 0px !important;
    padding: 0;
    float: right;
  }

  div.ticket-message{
    text-align: left !important;
  }

  .ui.modal div.ui.header {
    border: none !important;
    box-shadow: none !important;
    font-size: 14px;
  }

  ui.header.right.floated {
    font-size: 12px !important;
    float: left !important;
    margin-left: 10px !important;
    float: right;
  }

  .ui.label.orange, #ticket-number div.ui.button {
    color: black !important;
  }

  .five.wide.column, #ticket-number .ui.button {
    width: 150px !important;
  }

}
