@media print {
  div.side, div.menu.fixed, a.ui.button, div.ui.button.basic.blue.print,
  button.print, div.ui.segment.tab, div#ticket-entry, div#tickets{
    display: none !important;
  }

  div.segment.ui, div#modal-kitchen {
    float: none !important;
    display: block !important;
    width: 100% !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    box-shadow: none !important;
    margin: 0px !important;
  }

}